*{
    user-select: none;
    
}

html {
    scroll-behavior: smooth;
}

body {
    margin-left: 0;
}

.menup {
    z-index: 10;
}

.navb2 {
    display: none;
    margin-top: -8px;
}

.check-nav {
    display: none;
}

.topli {
    padding-top: 165px;
}

.dispnone {
    display: none;
}

#navbarul li {
    display: block;
    line-height: 29px;
    text-align: left;
    transition: 0.5 all ease;
}

 .divb {
     position: absolute;
     width: 25px;
     height: 2.4px;
     background-color:#ffffff;
     left: 20px;
 }

 .one {
     top: 26px;
 }

 .two {
     top: 36px;
 }

 .three {
     top: 46px;
 }

.navbar-burger {
    display: none;
    margin-top: -23px;
    background-color:#2d303a;
    height: 184vh;
    padding-left: 71px;
    width: 54vw;
    box-shadow: 252px 0px 60px rgba(0, 0, 0, 0.6);
}

.navbar-b {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.035em;
    width: 205px;
    height: 31px;
    margin-bottom: 27px;
}

.navbar-burger .logo {
    margin-top: 32px;
    margin-left: 0;
    margin-right: 0;
    line-height: 64px;
    margin-bottom: 0;
}

.navba:hover {
    color: #f06c64;
}

label {
    display: block;
}

.navba {
    text-decoration: none;
    color: white;
}

.check-nav:checked ~ .navb2 {
    width: 65vw;
}

.check-nav:checked ~.navbar-burger {
    display: block;
}

.check-nav:checked ~ label .one {
    transform: rotate(90deg);
    top: 32.4px;
    left: 10px;
}

.check-nav:checked ~ label .two {
    transform: rotate(90deg);
    top: 32.4px;
}

.check-nav:checked ~ label .three {
    transform: rotate(90deg);
    top: 32.4px;
    left: 30px;
}


#wrapper {
    margin-top: 95px;
}

header {
    position: fixed;
    margin-top: -95px;
    width: 1024px;
    height: 89px;
    display: flex;
    justify-content: space-between;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

#main {
    width: 1024px;
}

.contact {
    margin-right: 40px;
}

.navbar ul{
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.li:hover {
    color:#f06c64;
}

.ser {
    display: inline-block;
    font-size: 12px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    line-height: 67px; 
}

ul {
    list-style-type: none; 
}

.home {
    margin-left: -11px;
}

.active  {
    color:#f06c64;
}

 .navbar :not(:first-child)::before {
    content: ".";
    color: #494e62;
    position: relative;
    bottom: 3px;
    right: 9px;
    margin-top: 9px;
    font-size: 20px; 
}  

.logo {
    font-size: 25px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
    line-height: 54px;
    margin-left: 38px;
}

.star {
    color: #f06c64
}

.firstul {
    letter-spacing: -0.3px;
}

.slider{
    height: 594px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.carousel {
    position: absolute;
}

.slidercontainer {
    overflow: hidden;
}

.phones {
    visibility: hidden; 
    opacity: 0;
    transition: all ease 0.5s;
}

.phones.activesli {
    opacity: 1;
    visibility: visible; 
}

.slider2{
    height: 659px; 
    margin-top: -596px;
    margin-left: -126px;
    background: #648BF0;
}

.vertphone {
    margin-top: 51px;
    margin-left: 112px; 
}

.horphone{
    margin-bottom: 120px;
    margin-left: 68px;
}


#az {
    width: 460px;
    height: 215px;
    position: absolute;
    margin-top: 175px;
    margin-left: 68px;
}

#az2 {
    width: 213px;
    height: 465px;
    margin-left: 114px;
    margin-top: 46px;
    position: absolute;
}

.screen {
    position: absolute;
    margin-left: 57.5px;
    margin-top: 10px;
}

.scr2 {
    position: absolute;
    margin-left: 9px;
    margin-top: 67px;
}

.hiddenscreen {
    display: none;
}

.activehidcr {
    display: block;
}

.next {
    top: 0;
    width: 100%;
}

.to-left{
    animation-name: left;
}

.to-right{
    animation-name: right;
    animation-direction: reverse; 
}

.from-left{
    animation-name: left;
    animation-direction: reverse;
}

.from-right{
    animation-name: right;
}

@keyframes left{
    from {
        left: 0;
    }
    to {
        left: -150%;
    }
}

@keyframes right{
    from {
        left: 0;
    }
    to {
        left: 150%;
    }
}

.button {
    position: absolute;
    border: 0px;
    background: none;
}

.button:hover {
    opacity: 0.5;
    background: white;
    cursor: pointer;
}

.lbutton {
    top: 360px;
    left: 972px;
    position: absolute;
}

.rbutton {
    top: 360px;
    left: 40px;
    position: absolute;
}

.ourservices{
    height: 493px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.container1  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 40px 0 40px;
    padding: 0;
}

h2 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding-top: 69px;
    margin: 0px 0 27px 40px;
    letter-spacing: -0.3px;
}

.p1 {
    width: 940px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    margin-left: 40px;
}

.block {
    width: 300px;
    font-size: 12px;
    line-height: 19px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
}

.picbeg {
    margin-top: 30px;
}

.h3beg, .h3beg2 {
    font-size: 18px;
    line-height: 17px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-top: -66px;
    margin-left: 80px;
    letter-spacing: -0.1px;
}

.h3beg2{
    margin-top: -65px;
}

.parbeg {
    width: 219px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    margin: -8px 0 0 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.parcor {
    letter-spacing: -0.1px;
}

.portfolio {
    height: 894px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.portf {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-left: 40px;
    padding-top: 70px;
    margin-bottom: 27px;
}

.text {
    width: 940px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    margin-left: 40px;
}

.navbar2{
    margin-top: 44px;
    margin-bottom: -8px;
}

.firstunord {
    display: flex;
    list-style-type: none;
    margin-top: -35px;
    margin-left: 1px;
}

 .firstlist {
    display: inline-block;
    justify-content: space-between;
    font-size: 12px;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    padding-right: 10px;
}

.a1 {
    color: #767e9e;
    text-decoration: none;
    width: 29px;
    height: 22px;
    border-radius: 5px;
    border: 1px solid;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

.gd {
   margin-left: -1px;
}

.artwork {
    padding-right: 5px;
}

li .active3 {
    color:#dedede;
}

li .change {
    background: tomato;
}

.a1:hover {
    color:#dedede;
}

.containerportf {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 20px 40px 54px 30px;
    padding: 0px;
}

.seclist {
    flex: 1 0 20% ;
    margin: 10px;
    margin-bottom: 20px;
}

.seclist ::before {
    content: "";
    float: left;
    padding-top: 100%;
}

.seclist img {
    height: 100%;
    width: 100%;
}

li .active2 {
    border: 5px solid #F06C64;
}

.seclist:nth-child(n + 13){
    display: none;
}

.pic:nth-child(n + 13){
    display: none;
}

.aboutus {
    height: 728px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.bottomh2 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.bottomp{
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    margin-left: 40px;
}

.bottomcontainer2 {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 46px 40px 0 40px;
    padding: 0px;
}

.bottomcont2 {
    margin-left: 20px;
    height: 445px;
    width: 300px;
}

.ad {
    margin-left: 0;
}

.bottomcont2 ::before {
    content: "";
    float: left;
    padding-top: 100%;
}

 .resppic {
    width: 100%;
}

.bottomh3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 14px 0 0 -2px;
    height: 17px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.p3 {
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    margin-top: 10px;
}

.pscolara, .padam {
    letter-spacing: -0.06px;
}

.icons {
    margin-top: 24px;
}
 .bpic {
    margin-right: 4px;
}

.bpic:hover {
    background-color:cornsilk;    
    cursor: pointer;
}

.getaquote {
    height: 647px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.lasttophead {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: justify;
    padding-top: 68px;
    letter-spacing: -0.1px;
}

.extracontainer {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 40px;
}

.lasttoptext {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    margin-bottom: 33px;
    margin-top: 27px;
}

 .lasttophead, .lasttoptext {
    margin-left: 40px;
}

.name , .email, .subject {
    font-size: 12px;
    line-height: 22px;;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    color: #f48c8f;
    width: 605px;
    height: 36px;
    border-radius: 5px;
    border: 0px;
    background-color: #d6564f;
    padding-left: 14px;
    resize: none;
}

.texta::placeholder {
    color: #f48c8f;
}

.name {
    margin-top: 14px;
}

.email{
    margin-top: 15px;
}

.subject{
    margin-top: 15px;
}

.projdetail { 
    font-size: 12px;
    line-height: 22px;;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    color: #f48c8f;
    width: 603px;
    border-radius: 5px;
    border: 0px;
    background-color: #d6564f;
    padding-left: 14px;
    padding-top: 6px;
    resize: none;
    height: 193px;
    margin-top: 18px;
}

.submitb {
    position: absolute;
    font-size: 20px;
    line-height: 30px;;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
    color: wheat;
    margin-top: 240px;
    margin-left: -400px;
    border-color: wheat;
    border-radius: 5px;
    background-color: #d6564f;
}

.submitb:hover {
    background-color:rgb(1, 1, 46);
}

input::-webkit-input-placeholder {
    color: #f48c8f;
}

.texta::-ms-input-placeholder {
    color: #f48c8f;
}

    .seclist .active2 {
    height: auto;
}

.contactinfo, .contactp, .adra, .adrp {
    color: #f0d8d9;
    font-family: "Lato";
    text-align: justify;
}

.contactinfo {
    margin-top: 14px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
    text-align: left;
    letter-spacing: -0.1px;
}

.formcont{
    width: 620px;
}

.formcont2 {
    width: 308px;
    height: 212px;
    margin-left: 18px;
}

.fm {
}

.contactp {
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    margin-top: -8px;
    letter-spacing: -0.04px;
}

.location {
    margin-top: 6px;
    margin-left: 3px;
}


.adrp, .adra{
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-decoration: none;
    margin-top: -20px;
    margin-left: 23px;
}

.place {
    margin-bottom: 0;
}

.tel {
    margin-left: 8px;
}

.mailto {
    margin-left: 6px;
}

.adra:hover{
    color: rgb(1, 1, 46);
}

.footer {
    width: 1024px;
    height: 76px;
    background-color: #2d303a;
}

.footpic:hover {
    cursor: pointer;
    background-color: #2d302f;
}

.copyrightsymbol {
    font-family: "Lato";
    color:#666d89;
    font-size: 12px;
    margin: 0 0 0 43px;
    padding-top: 30px;
    letter-spacing: -0.3px;
}

#message-block {
    position: absolute;
    margin:-295px 0 0 324px;
    background:#e6e5e5;
    padding: 0 212px 0 0;
    width: 20%;
    word-break: break-word;
    opacity: 1;
}

#message-block.hidden {
    display: none;
}

#message {
    top: 50%;
    left: 50%;
    padding-left: 20px;
}

.footerresp {
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}

.liresp {
    width: 146px;
}

.liresp2 {
    width: 140px;
    margin-top: 22px;
}

@media  (max-width:1019px) {
    #main, header, .footer {width: 100vw;}

    .vertphone {
        height: 65vh;
        width: 24vw;
        margin-top: 6vh;
        margin-left: 10vw; 
    }
    
    .horphone{
        height: 34vh;
        width: 47vw;
        margin-bottom: 17vh;
        margin-left: 6.3vw; 
    }

    .lbutton {
        left: 95.1vw;
        top: 47.7vh;
    }

    .rbutton {
        left: 4vw;
        top: 47.7vh;
    }

    .container1 {
        margin: 0 45px 0 47px;
    }

    .block {
        margin-right: 23px;
    }

    h2 {
        margin: 0px 0 27px 47px;
    }

    .ourservices {
        height: 650px;
    }

    .text {
        width: 82vw;
    }

    .p3 {
        height: 10vh;
    }

    .p1 {
        width: 90vw;
        margin-left: 47px;
    }

    .seclist {
        flex: 1 0 23%;
    }

    .bottomcontainer2 {
        margin: 53px 40px 75px 40px;
    }

    .bottomcont2 {
        width: 28vw;
        height: 58vh;
        flex: 1 0 20%;
    }

    .portfolio {
        height: auto;
    }

    .containerportf {
        margin: 20px 30px 57px 30px;
    }

    .bottomh3 {
        height: 2.4vh;
    }

    .submitb {
        position: inherit;
        margin-left: auto;
        margin-top: 14px;
    }

    .getaquote {
        height: auto;
    }

    .bottomp {
        height: auto;
        width: auto;
        margin-right: 40px;
        margin-left: 40px;
    }

    .lasttoptext {
        width: auto;
        height: auto;
        margin-right: 40px;
        margin-left: 40px;
    }

    .contactp {
        width: 26vw;
    }

    .projdetail, .name, .email, .subject {
        width: 59.1vw;
    } 

    .formcont2 {
        width: 30.6vw;
    }

    .aboutus {
        height: auto;
     }

}

@media  (max-width:768px) {
    .slider {
       /* height: 446px;*/
        height: 60vw;
    }

    .lbutton {
        left: 94.1vw;
        top: 39vw;
    }

    .rbutton {
        left: 4vw;
        top: 39vw;
    }

    h2 {
        padding-top: 9vw;
    }

    .vertphone {
        height: 45vw;
        width: 22vw;
    }

    .horphone {
        margin-bottom: 12vh;
        height: 24vw;
        width: 50vw;
    }

    .portfolio {
        height: auto;
    }

    .seclist {
        flex: 1 0 23% ;
    }
    
    .p1 {
        width: 86.5vw;
    }

    .extracontainer {
        margin-right: 40px;
    }

    .portf {
        padding-top: 62px;
    }

    .bottomcontainer2 {
        margin: 28px 40px 75px 40px;
    }

    .lasttophead {
        padding-top: 53px;
        margin-bottom: 19px;
    }


    @media  (max-width:767px) {
        .navb2 {
            display: block;
        }

        .logo {
            line-height: 24px;
            font-size: 20px;
            margin-top: 24px;
            margin-left: 39.5vw;
            margin-right: 43vw;
        }

        #az {
            display: none;
        }

        #az2 {
            display: none;
        }

        header {
            margin-top: -77px;
            height: 71px;
        }

        #wrapper {
            margin-top: 77px;
        }

        .containerportf {
            margin: 20px 20px 57px 20px;
        }

        .navbar {
            display: none;
        }

        .container1 {
            margin: 0 30px 0px 30px;
            flex-direction: column;
        }

        .ourservices {
            height: 1060px;
        }

        .block {
            margin-right: 0;
        }

        h2 {
            margin: 0px 0 27px 30px;
        }
        
        .p1 {
            margin-left: 30px;
        }        

        .seclist {
            flex: 1 0 31%;
        }

        .seclist:nth-child(n + 9){
            display: none;
        }
        
        .pic:nth-child(n + 9){
            display: none;
        }

        .aboutus {
            height: auto ;
        }

        .bottomcontainer2 {
            flex-direction: column;
            margin: 14px 30px 45px 30px;
        }

        .bottomcont2 {
            flex: none;
            margin-left: 0;
            margin-top: 34px;
            width: 314px;
            height: 452px;
        }

        .ad {
            margin-top: 0;
        }

        .p3 {
            height: 37px;
        }

        .bottomp {
            height: auto;
            width: auto;
            margin-right: 30px;
            margin-left: 30px;
        }

        .lasttophead, .lasttoptext, .extracontainer {
            margin-left: 31px;
            padding-left: 0;
        }

        .portf, .text, .firstunord {
            margin-left: 30px;
        }

        .firstunord {
            padding-left: 0;
        }

        .liresp {
            display: none;
        }

        .liresp2 {
            margin: 22px auto;
        }


    }


    @media  (max-width:663px) {
        .bottomh2 {
            margin-left: 30px;
        }

        .getaquote {
            height: auto;
        }


        .p1 {
            width: 81vw;
        }

        .submitb {
            margin-left: -45vw;
        }

        

        .extracontainer {
            flex-wrap: wrap;
            padding-left: 0;
        }

        .formcont2 {
            height: auto;
            margin-top: 60px;
        }

        .contactp {
            width: auto;
        }

        .formcont2 {
            width: auto;
            margin-left: 0;
            margin-top: 32px;
        }

       

        .projdetail, .name, .email, .subject {
            width: 80.1vw;
        }

        .submitb {
            position: inherit;
            margin-left: auto;
            text-align: center;
            margin-top: 14px;
            width: 83.1vw;
        }

        .contactinfo {
            margin-top: 0;
        }


    }
    
    @media  (max-width:463px) {
        .submitb {
            width: 85vw;
        }
    }


    @media  (max-width:375px) {
        .slider {
            height: 208px;
        }

        .vertphone {
            margin-top: 13px;
            height: 189px;
            width: 88px;
        }

        .horphone {
            height: 97px;
            width: 177px;
            margin-bottom: 7vh;
        }

        .rbutton {
            top: 48vw;
            left: auto;
        }

        .lbutton {
            left: 92vw;
            top: 48vw;
        }

        .rightchev {
            width: 62%;
        }

        .leftchev {
            height: 16.73px;
            width: 9.91px;
        }

        .seclist:nth-child(n + 9){
            display: none;
        }
        
        .pic:nth-child(n + 9){
            display: none;
        }
        .seclist {
            flex: 1 0 40%;
            margin: 7px;
        }

        .portf {
            padding-top: 52px;
        }
        
        .lasttophead {
            padding-top: 44px;
        }

        .containerportf {
            margin: 0px 23px 33px 23px;
        }
         
        .footerresp {
            padding-left: 0;
        }

        .liresp2 {
            margin-left: 112px
        }

        .containerbig {
            margin-bottom: 24px;
        }

        @media  (max-width:374px) {
            .parbeg {
                width: 56.4vw;
            }
            .container1 {
                margin: 0 30px 68px 30px;
            }

            .ourservices {
                height: auto;
            }
            

            .horphone {
                margin-left: 3vw;
            }

        .bottomcont2 {
            width: 81vw;
            height: 444px;
        }

        .p3 {
            height: auto;
        }

        .projdetail, .name, .email, .subject {
            width: 76.1vw;
        }

        .submitb {
            width: 81vw;
        }

        .extracontainer {
            margin-right: 30px;
        }

        .firstlist {
            padding-right: 2px;
        }

        .liresp2 {
            margin-left: auto;
        }

        .lbutton {
            left: 94vw;
        }

    }