*{
    user-select: none;
    
}

header {
    position: fixed;
    margin-top: -8px;
    width: 1024px;
    height: 89px;
    display: flex;
    justify-content: space-between;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

#main {
    width: 1024px;
}

.contact {
    margin-right: 40px;
}

.navbar ul{
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.li:hover {
    color:#f06c64;
}

.ser {
    display: inline-block;
    font-size: 12px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    line-height: 67px; 
}

ul {
    list-style-type: none; 
}

.home {
    margin-left: -11px;
}

.active  {
    color:#f06c64;
}

 .navbar :not(:first-child)::before {
    content: ".";
    color: #494e62;
    position: relative;
    bottom: 3px;
    right: 9px;
    margin-top: 9px;
    font-size: 20px; 
}  

.logo {
    font-size: 25px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
    line-height: 54px;
    margin-left: 38px;
}

.star {
    color: #f06c64
}

.firstul {
    letter-spacing: -0.3px;
}

.slider{
    height: 594px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.carousel {
    position: absolute;
}

.slidercontainer {
    overflow: hidden;
}

.phones {
    visibility: hidden; 
    opacity: 0;
    transition: all ease 0.5s;
}

.phones.activesli {
    opacity: 1;
    visibility: visible;
}

.vertphone {
    margin-top: 5%;
    margin-left: 11%; 
}

.horphone{
    margin-bottom: 11.7%;
    margin-left: 6.7%; 
}

#az {
    width: 460px;
    height: 215px;
    position: absolute;
    margin-top: 175px;
    margin-left: 68px;
}

#az2 {
    width: 213px;
    height: 465px;
    margin-left: 114px;
    margin-top: 46px;
    position: absolute;
}

.screen {
    position: absolute;
    margin-left: 57.5px;
    margin-top: 10px;
}

.scr2 {
    position: absolute;
    margin-left: 9px;
    margin-top: 67px;
}

.hiddenscreen {
    display: none;
}

.activehidcr {
    display: block;
}

.slider2{
    height: 659px;
    margin-top: -596px;
    margin-left: -126px;
    background: #648BF0;
}

.next {
    top: 0;
    width: 100%;
}

.to-left{
    animation-name: left;
}

.to-right{
    animation-name: right;
    animation-direction: reverse; 
}

.from-left{
    animation-name: left;
    animation-direction: reverse;
}

.from-right{
    animation-name: right;
}

@keyframes left{
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right{
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}

.button {
    position: absolute;
    border: 0px;
    background: none;
}

.button:hover {
    opacity: 0.5;
    background: white;
    cursor: pointer;
}

.lbutton {
    top: 52%;
    left: 965px;
    position: absolute;
}

.rbutton {
    top: 52%;
    left: 4%;
    position: absolute;
}

.ourservices{
    height: 493px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.container1  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 40px 0 40px;
    padding: 0;
}

h2 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding-top: 69px;
    margin: 0px 0 27px 40px;
    letter-spacing: -0.3px;
}

.p1 {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    margin-left: 40px;
}

.block {
    width: 300px;
    font-size: 12px;
    line-height: 19px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
}

.picbeg {
    margin-top: 30px;
}

.h3beg, .h3beg2 {
    font-size: 18px;
    line-height: 17px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-top: -66px;
    margin-left: 80px;
    letter-spacing: -0.1px;
}

.h3beg2{
    margin-top: -65px;
}

.parbeg {
    width: 219px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    margin: -8px 0 0 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.parcor {
    letter-spacing: -0.1px;
}

.portfolio {
    height: 863px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.portf {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-left: 40px;
    padding-top: 70px;
    margin-bottom: 27px;
}

.text {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    padding-left: 40px;
}

.firstunord {
    display: flex;
    list-style-type: none;
    margin-top: -35px;
    margin-left: 1px;
}

 .firstlist {
    display: inline-block;
    justify-content: space-between;
    font-size: 12px;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    padding-right: 10px;
}

.a1 {
    color: #767e9e;
    text-decoration: none;
    width: 29px;
    height: 22px;
    border-radius: 5px;
    border: 1px solid;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

.gd {
   margin-left: -1px;
}

.artwork {
    padding-right: 5px;
}

li .active3 {
    color:#dedede;
}

li .change {
    background: tomato;
}

.a1:hover {
    color:#dedede;
}

.containerportf {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 20px 40px 0 40px;
    padding: 0px;
}

.seclist {
    flex: 1 0 20% ;
    margin: 10px;
    margin-bottom: 20px;
}

.seclist ::before {
    content: "";
    float: left;
    padding-top: 100%;
}

.seclist img {
    height: 100%;
    width: 100%;
}

li .active2 {
    border: 5px solid #F06C64;
}

.r1 {
    order: 1;
}

.r2 {
    order: 2;
}

.r3 {
    order: 3;
}

.r4 {
    order: 4;
}

.r5 {
    order: 5;
}

.seclist:nth-child(n + 13){
    display: none;
}

.pic:nth-child(n + 13){
    display: none;
}

.aboutus {
    height: 728px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.bottomh2 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.bottomp{
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    margin-left: 40px;
}

.bottomcontainer2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 46px 40px 0 40px;
    padding: 0px;
}

.bottomh3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 14px 0 0 -2px;
    width: 300px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.p3 {
    width: 300px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    margin-top: 10px;
}

.pscolara, .padam {
    letter-spacing: -0.06px;
}

.icons {
    margin-top: 24px;
}
 .bpic {
    margin-right: 4px;
}

.bpic:hover {
    background-color:cornsilk;    
    cursor: pointer;
}

.getaquote {
    height: 708px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.lasttophead {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: justify;
    padding-top: 68px;
    letter-spacing: -0.1px;
}

.lasttoptext {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    margin-bottom: 33px;
    margin-top: 27px;
}

.form, .lasttophead, .lasttoptext {
    margin-left: 40px;
}

.name , .email, .subject {
    position: absolute;
    font-size: 12px;
    line-height: 22px;;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    color: #f48c8f;
    width: 605px;
    height: 36px;
    border-radius: 5px;
    border: 0px;
    background-color: #d6564f;
    padding-left: 14px;
    resize: none;
}

.texta::placeholder {
    color: #f48c8f;
}

.name {
    margin-top: 14px;
}

.email{
    margin-top: 67px;
}

.subject{
    margin-top: 121px;
}

.projdetail { 
    position: absolute;
    font-size: 12px;
    line-height: 22px;;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    color: #f48c8f;
    width: 603px;
    border-radius: 5px;
    border: 0px;
    background-color: #d6564f;
    margin-top: 15px;
    padding-left: 14px;
    padding-top: 6px;
    resize: none;
    height: 193px;
    margin-top: 177px;
}

.submitb {
    position: absolute;
    font-size: 20px;
    line-height: 30px;;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
    color: wheat;
    margin-top: 396px;
    margin-left: 60px;
    border-color: wheat;
    border-radius: 5px;
    background-color: #d6564f;
}

.submitb:hover {
    background-color:rgb(1, 1, 46);
}

input::-webkit-input-placeholder {
    color: #f48c8f;
}

.texta::-ms-input-placeholder {
    color: #f48c8f;
}

.extracontainer {
    display: flex;
    justify-content: space-between;
}

.contactinfo, .contactp, .adra, .adrp {
    position: absolute;
    margin-left: 680px;
    color: #f0d8d9;
    font-family: "Lato";
    text-align: justify;
}

.contactinfo {
    margin-top: 14px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
    text-align: left;
    letter-spacing: -0.1px;
}

.contactp {
    width: 300px;
    height: 175px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    margin-top: 43px;
    letter-spacing: -0.04px;
}

.infopic {
    position: absolute;
    
}

.location {
    margin-top: 155px;
    margin-left: 683px;
}

.phonecall {
    margin-top: 175px;
    margin-left: 681px;
}

.mail {
    margin-top: 201px;
    margin-left: 680px;
}

.adrp, .adra{
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    margin-top: 150px;
    margin-left: 703px;
    text-decoration: none;
}

.tel {
    margin-top: 172px;
}

.mailto {
    margin-top: 193px;
}

.adra:hover{
    color: rgb(1, 1, 46);
}

.footer {
    width: 1024px;
    height: 76px;
    background-color: #2d303a;
}

.footercontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 152px;
    margin-left: 828px;
    margin-top: -23px;
}

.footpic:hover {
    cursor: pointer;
    background-color: #2d302f;
}

.copyrightsymbol {
    font-family: "Lato";
    color:#666d89;
    font-size: 12px;
    margin: 0 0 0 43px;
    padding-top: 30px;
    letter-spacing: -0.3px;
}

#message-block {
    position: absolute;
    margin:70px 0 0 400px;
    background:#e6e5e5;
    padding: 0 212px 0 0;
    width: 20%;
    word-break: break-word;
    opacity: 1;
}

#message-block.hidden {
    display: none;
}

#message {
    top: 50%;
    left: 50%;
    padding-left: 20px;
}

@media  (max-width:1020px) {
    #main, header {width: 100vw;}
}

@media  (max-width:768px) {
    .seclist {
        flex: 1 0 23% ;
    }
}